@use "global" as *;

.about {
	margin-top: rem(87);

	@include mq('md') {
		margin-top: rem(143);
		position: relative;
	}
}

.about::after {
	@include mq('md') {
		position: absolute;
		content: "";
		bottom: rem(-17);
		right: max(rem(20), calc(50vw - rem(637)));
		width: rem(194);
		height: rem(181);
		background-image: url('../images/common/img-coral.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.about__inner {}

.about__content {}

.about__images {
	margin-top: rem(57);
	position: relative;

	@include mq('md') {
		margin-top: rem(125);
	}
}

.about__image-large {
	margin-left: auto;
	width: calc(281 / $calc-inner-sp * 100%);
	position: relative;

	@include mq('md') {}
}

.about__image-large img {

	aspect-ratio: 281 / 186;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 880 / 581;
	}
}

.about__image-small {
	margin-top: rem(-80);
	position: absolute;
	top: 0;
	left: 0;
	width: calc(128 / $calc-inner-sp * 100%);
}

.about__image-small img {

	aspect-ratio: 128 / 194;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 400 / 606;
	}
}

.about__content {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: 0;
		// margin-left: auto;
		// margin-top: rem(307);
		// margin-left: max(rem(80), calc(50vw - rem(500)));
		position: absolute;
		display: flex;

		width: calc(840 / $calc-inner-pc * 100%);
		top: 0;
		left: 0;
	}
}

.about__subtitle {
	// margin-top: rem(18);
	width: 50%;
}

.about__subtitle-text {
	font-family: $font-family-eng;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		font-size: rem(80);
		color: $color-white;
		line-height: calc(100 / 80);
	}
}

.about__wrap {
	@include mq('md') {
		max-width: rem(400);
		width: 50%;
	}
}

.about__text {
	// margin-top: rem(16);
}

.about__text-text {
	@include mq('md') {
		color: $color-white;
	}
}

.about__btn {
	margin-top: rem(50);
	text-align: center;

	@include mq('md') {
		margin-top: rem(40);
	}
}