@use "global" as *;

.about {
	margin-top: rem(80);
	margin-bottom: rem(70);

	@include mq('md') {
		position: relative;
	}
}

.about__inner.inner {
	max-width: rem(375);

	@include mq('md') {
		max-width: $inner + strip-unit($padding-pc) * 2;
	}
}

.about__images {
	margin-top: rem(50);
	position: relative;

	@include mq('md') {
		margin-top: rem(120);
	}
}

.about__image-large {
	margin-left: auto;
	height: rem(186);
	aspect-ratio: 281 / 186;

	@include mq('md') {
		aspect-ratio: 880 / 581;
		height: rem(581);
	}
}

.about__image-small {
	height: rem(194);
	aspect-ratio: 128 / 194;
	position: absolute;
	top: rem(-28);

	@include mq('md') {
		aspect-ratio: 400 / 606;
		height: rem(606);
		top: rem(-80);
	}
}

.about__image-large img,
.about__image-small img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.about__content {
	margin-top: rem(40);

	@include mq('md') {
		display: flex;
		gap: rem(40);
		margin-top: 0;
		position: absolute;
		max-width: rem(840);
		top: rem(310);
		right: max(80px, calc(50vw - 500px));
	}
}

.about__subtitle {}

.about__subtitle-text {
	font-family: $font-family-eng;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		font-size: rem(80);
		color: $color-white;
	}
}

.about__wrap {
	@include mq('md') {
		max-width: rem(400);
	}
}

.about__text {
	margin-top: rem(16);
}

.about__text-text {
	@include mq('md') {
		color: $color-white;
	}
}

.about__btn {
	margin-top: rem(50);
	text-align: center;

	@include mq('md') {
		margin-top: rem(40);
	}
}