@use "global" as *;

.blog {
	padding-top: rem(84);
	padding-bottom: rem(3);

	@include mq('md') {
		padding-top: rem(100);
		position: relative;
	}
}

.blog::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100vw;
	// height: min(calc(500 / 831 * 100%), rem(500));
	// height: min(rem(500), calc(500 / 1440 * 100%));
	height: rem(500);
	background-image: url('../images/common/blog-bg_pc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}

.blog::after {
	@include mq('md') {
		position: absolute;
		content: "";
		top: rem(24);
		left: max(rem(40), calc(50vw - rem(620)));
		width: rem(437);
		height: rem(201);
		background-image: url('../images/common/fish_white.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.blog__inner {}

.blog__title {}

.blog__cards {
	margin-top: rem(31);

	@include mq('md') {
		margin-top: rem(86);

	}
}


.blog__card {}


.blog__btn {
	margin-top: rem(40);
	text-align: center;

	@include mq('md') {
		margin-top: rem(80);
	}
}