@use "global" as *;

.blog {

	@include mq('md') {
		padding-top: rem(100);
		position: relative;
	}
}

.blog::before {
	@include mq('md') {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100vw;
		height: rem(500);
		background-image: url('../images/common/blog-bg_pc.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		z-index: -1;
	}
}

.blog__inner {
	@include mq('md') {
		position: relative;
	}
}

.blog__inner.inner {
	padding-left: rem(21);
	padding-right: rem(21);

	@include mq('md') {
		padding-left: $padding-pc;
		padding-right: $padding-pc;
	}
}

.blog__inner::after {
	@include mq('md') {
		position: absolute;
		content: "";
		top: rem(-76);
		left: calc(50% - min(48.5vw, rem(620)));
		width: rem(437);
		height: rem(201);
		background-image: url('../images/common/fish_white.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.blog__section-title {}

.blog__cards {
	margin-top: rem(31);

	@include mq('md') {
		margin-top: rem(86);

	}
}


.blog__card {}


.blog__btn {
	margin-top: rem(40);
	text-align: center;

	@include mq('md') {
		margin-top: rem(80);
	}
}