@use "global" as *;

.campaign {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: rem(120);
	}
}

.campaign__inner {}

.campaign__title {}

.campaign__swiper {
	margin-top: rem(24);
	// margin-right: calc(50% - 50vw);

	@include mq('md') {
		margin-top: rem(40);
	}
}

.campaign__card {
	margin-bottom: rem(16);
	// margin-right: rem(24);
}

.campaign__card:not(:last-child) {
	margin-right: rem(24);

	// @include mq('md') {
	// 	margin-right: rem(40);
	// }
}

.campaign__card:last-child {
	// margin-right: calc(100vw - 100%);
}

.campaign__swiper-pagination {}

.campaign__btn {
	margin-top: rem(40);
	text-align: center;

	@include mq('md') {
		margin-top: rem(80);
	}
}

.campaign__button-next,
.campaign__button-prev {
	display: none;


	@include mq('md') {
		display: block;

		margin-top: 0;
		top: 0;
		right: 0;
		left: 0;
		position: relative;

		width: rem(80);
		height: rem(80);
		border: 1px solid $color-accent;
		border-radius: 50%;
	}
}

.campaign__button-next {}

.campaign__button-prev {}


.campaign__button-next p::before,
.campaign__button-prev p::before {
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	top: 0;
	left: calc(100% + 8px);
	background-color: $color-accent;
	border-radius: 50%;
}

.button p::after {
	position: absolute;
	content: "";
	width: 8px;
	height: 1px;
	top: -2px;
	left: calc(100% + 41px);
	background-color: $color-accent;
	border-radius: 50%;
	transform: rotate(37deg);
}

.campaign__button-next p::after {
	position: absolute;
	content: "";
	width: 8px;
	height: 1px;
	top: -2px;
	left: calc(100% + 41px);
	background-color: $color-accent;
	border-radius: 50%;
	transform: rotate(37deg);
}

.campaign__button-prev p::after {
	position: absolute;
	content: "";
	width: 8px;
	height: 1px;
	top: -2px;
	left: calc(100% + 41px);
	background-color: $color-accent;
	border-radius: 50%;
	transform: rotate(37deg);
}