@use "global" as *;

.campaign {
	margin-top: rem(44);

	@include mq('md') {
		margin-top: rem(120);
		position: relative;
	}
}

.campaign__inner {}

.campaign__title {}

.campaign__swiper {
	margin-top: rem(31);
	margin-left: rem(-10);

	margin-right: calc(50% - 50vw);
	padding-left: rem(10);

	@include mq('md') {
		margin-top: rem(45);
	}
}

.campaign__card {
	margin-bottom: rem(16);
}

.campaign__swiper-buttons {
	display: none;

	@include mq('md') {
		display: flex;
		gap: rem(80);
		position: absolute;
		top: 0;
		right: max(rem(40), 50vw - rem(540));
	}
}

.campaign__button-prev,
.campaign__button-next {
	display: none;
	transition: opacity 0.3s ease;

	@include mq('md') {
		display: block;

		margin-top: 0;
		top: 0;
		right: 0;
		left: 0;
		position: relative;

		width: rem(80);
		height: rem(80);
		border: 1px solid $color-accent;
		border-radius: 50%;
	}
}

.campaign__button-prev:hover,
.campaign__button-next:hover {
	opacity: $opacity-hover;
}

.campaign__button-prev {}

.campaign__button-next {}

.campaign__button-prev::before,
.campaign__button-next::before {
	position: absolute;
	content: "";
	width: rem(40);
	height: 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-accent;
}

.campaign__button-prev::after {
	position: absolute;
	content: "";
	width: rem(8);
	height: 1px;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% - rem(17)), calc(-50% - rem(2))) rotate(-37deg);
	background-color: $color-accent;
}

.campaign__button-next::after {
	position: absolute;
	content: "";
	width: rem(8);
	height: 1px;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% + rem(17)), calc(-50% - rem(2))) rotate(37deg);

	background-color: $color-accent;
}

.campaign__btn {
	margin-top: rem(24);
	text-align: center;

	@include mq('md') {
		margin-top: rem(64);
	}
}