@use "global" as *;

.contact {}

.contact__inner {
	position: relative;
}

.contact__inner::before {
	position: absolute;
	content: "";
	top: rem(-26);
	right: calc(50% - min(46.1vw, 17.9rem));
	width: rem(109);
	height: rem(50);
	background-image: url('../images/common/img-fish.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	@include mq('md') {
		position: absolute;
		content: "";
		top: rem(-37);
		right: calc(50% - min(48.5vw, rem(670)));
		width: rem(301);
		height: rem(138);
		background-image: url('../images/common/img-fish.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.contact__content {

	@include mq('md') {
		padding-top: rem(84);
		padding-bottom: rem(80);
		box-shadow: 4px 4px 10px rgba($color: #000, $alpha: 0.25);
	}
}

.contact__content-inner {
	@include mq('md') {
		padding-left: calc(50 / 1080 * 100%);
		padding-right: calc(31 / 1080 * 100%);
	}
}

.contact__wrap {
	@include mq('md') {
		display: flex;
		justify-content: space-between;
	}

}

.contact__top {

	padding-left: rem(25);
	padding-right: rem(25);

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;

		width: 44%;
		position: relative;
	}
}

.contact__top::after {
	@include mq('md') {

		position: absolute;
		content: "";
		width: 1px;
		height: 100%;
		background-color: $color-accent;
		top: 0;
		right: -18.8%;
	}
}

.contact__logoBlock {
	padding-bottom: rem(1);
	text-align: center;

	@include mq('md') {
		padding-bottom: rem(3);
	}
}

.contact__logoBlock.title-line::after {
	box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}

.contact__logo {
	display: inline-block;
	width: rem(174);
	filter: drop-shadow(0 4px 4px rgba($color: #000, $alpha: 0.25));

	@include mq('md') {
		width: rem(200);
		filter: initial;
	}
}

.contact__flex {
	@include mq('md') {
		margin-top: rem(24);
		display: flex;
	}
}

.contact__info {
	margin-top: rem(16);

	@include mq('md') {
		margin-top: 0;
		width: calc(150 / 440 * 100%);
	}
}

.contact__info p {
	text-align: center;
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

	@include mq('md') {
		text-align: left;
		text-shadow: none;
	}
}

.contact__info p:not(:first-child) {
	margin-top: rem(4);
}

.contact__map {
	margin-top: rem(16);
	box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
	aspect-ratio: 295 / 160;

	@include mq('md') {
		margin-top: rem(0);
		margin-left: auto;
		width: calc(273 / 440 * 100%);
		aspect-ratio: 273 / 148;
	}

}

.contact__map iframe {

	object-fit: cover;
	width: 100%;
	height: 100%;
	vertical-align: top;

}

.contact__bottom {
	margin-top: rem(42);

	@include mq('md') {
		margin-top: rem(22);
		width: 48%;
	}
}

.contact__section-title .section-title__eng {
	font-size: rem(80);
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}

.contact__section-title .section-title__ja {
	margin-top: rem(-4);
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

	@include mq('md') {
		margin-top: rem(-5);
		text-shadow: none;
	}
}

.contact__msg {
	margin-top: rem(10);

	@include mq('md') {
		margin-top: rem(11);
	}
}

.contact__msg-text {
	text-align: center;
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(18 / 14);
	color: $color-accent;

	@include mq('md') {
		text-shadow: none;
	}
}

.contact__btn {
	margin-top: rem(41);
	text-align: center;

	@include mq('md') {
		margin-top: rem(39);
	}
}

.contact__btn.button::before {
	box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}