@use "global" as *;

.contact {
	margin-top: rem(80);
	position: relative;

	@include mq('md') {
		margin-top: rem(137);
	}
}

.contact::before {
	position: absolute;
	content: "";
	top: rem(54);
	right: max(rem(15), 50vw - rem(173));
	width: rem(109);
	height: rem(50);
	background-image: url('../images/common/img-fish.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	@include mq('md') {
		position: absolute;
		content: "";
		top: rem(-37);
		right: max(rem(20), 50vw - rem(670));
		width: rem(301);
		height: rem(138);
		background-image: url('../images/common/img-fish.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.contact__inner {}

.contact__wrap {

	@include mq('md') {
		padding-top: rem(80);
		padding-bottom: rem(80);
		padding-left: calc(50 / 1080 * 100%);
		padding-right: calc(112 / 1080 * 100%);

		display: flex;
		justify-content: space-between;
		position: relative;
		box-shadow: 4px 4px 10px rgba($color: #000, $alpha: 0.25);
	}
}

.contact__wrap::after {
	@include mq('md') {

		position: absolute;
		content: "";
		width: 1px;
		height: rem(255);
		background-color: $color-accent;
		top: 50%;
		left: 53%;
		transform: translateY(-50%);
	}
}

.contact__top {
	// max-width: rem(295);
	// margin-left: auto;
	// margin-right: auto;

	// @include mq('md') {
	// max-width: initial;
	// margin-left: initial;
	// margin-right: initial;
	// 	max-width: rem(440);
	// }
}

.contact__logoBlock {
	padding-bottom: rem(1);
	text-align: center;

	@include mq('md') {
		padding-bottom: rem(3);
	}
}

.contact__logoBlock.title-line::after {
	box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}

.contact__logo {
	display: inline-block;
	width: rem(174);
	filter: drop-shadow(0 4px 4px rgba($color: #000, $alpha: 0.25));

	@include mq('md') {
		width: rem(200);
		filter: initial;
	}
}

.contact__flex {
	@include mq('md') {
		margin-top: rem(24);
		display: flex;
		justify-content: space-between;
	}
}

.contact__info {
	margin-top: rem(16);
	margin-right: rem(21);

	@include mq('md') {
		margin-top: 0;
	}
}

.contact__info p {
	text-align: center;
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

	@include mq('md') {
		text-align: left;
		text-shadow: none;
	}
}

.contact__info p:not(:first-child) {
	margin-top: rem(4);
}

.contact__map {
	margin-top: rem(16);
	box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
	aspect-ratio: 295 / 160;

	@include mq('md') {
		margin-top: rem(0);
		width: calc(273 / 440 * 100%);
		aspect-ratio: 273 / 148;
	}

}

.contact__map iframe {

	object-fit: cover;
	width: 100%;
	height: 100%;
	vertical-align: top;

}

.contact__bottom {
	margin-top: rem(42);

	@include mq('md') {
		margin-top: rem(22);
		max-width: rem(315);
	}
}

.contact__title .section-title__eng {
	font-size: rem(80);
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}

.contact__title .section-title__ja {
	margin-top: rem(-4);
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

	@include mq('md') {
		margin-top: rem(-5);
		text-shadow: none;
	}
}

.contact__msg {
	margin-top: rem(10);

	@include mq('md') {
		margin-top: rem(11);
	}
}

.contact__msg-text {
	text-align: center;
	text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(18 / 14);
	color: $color-accent;

	@include mq('md') {
		text-shadow: none;
	}
}

.contact__btn {
	margin-top: rem(41);
	text-align: center;
}

.contact__btn.button::before {
	box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}