@use "global" as *;

.footer {
	padding-top: rem(48);
	padding-bottom: rem(56);
	background-color: $color-accent;

	@include mq('md') {
		padding-top: rem(80);
		padding-bottom: rem(80);
	}
}

.footer__inner {}


.footer__ft-nav {}

.footer__head {
	margin-left: auto;
	margin-right: auto;
	padding-left: $padding-sp;
	padding-right: $padding-sp;
	max-width: rem(415);

	@include mq('md') {
		margin-left: initial;
		display: flex;
		column-gap: rem(40);
		align-items: flex-end;
	}
}

.footer__logoBlock .nav__logo {
	width: rem(120);

	@include mq('md') {
		width: rem(200);
	}
}

.footer__sns {

	margin-top: rem(16);
}

.footer__sns-items {
	display: flex;
	column-gap: rem(16);

	@include mq('md') {
		margin-top: rem(0);
		margin-bottom: rem(13);
	}
}

.footer__sns-item {
	width: rem(24);
	height: rem(24);

	@include mq('md') {
		width: rem(32);
		width: rem(32);
	}
}

.footer__sns-link {}

.footer__sp-nav-inner {}

.footer__sp-nav-wrap {
}

.footer__copyright {
	margin-top: rem(33);
	padding-left: rem(14);
	padding-right: rem(14);
	text-align: center;

	font-family: $font-family-eng;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(18 / 12);
	color: $color-white;

	@include mq('md') {
		margin-top: rem(64);
		font-size: rem(14);
		line-height: calc(18 / 14);
	}
}