@use "global" as *;

.header {

	height: rem(80);
	background-color: rgba($color: $color-black, $alpha: 0.68);
	z-index: $z-index-header;
	position: fixed;
	width: 100%;

	@include mq('md') {
		height: rem(90);
	}
}

.header__inner {

	max-width: rem(1440);
	margin-left: auto;
	margin-right: auto;
	padding-left: rem(15);
	padding-right: rem(21);

	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;

	@include mq('md') {
		padding-left: rem(40);
		padding-right: rem(20);
	}

}

.header__logoBlock {
	height: inherit;
}

.header__logoLink {
	height: inherit;
	display: block;
}

.header__logo {
	width: rem(102);

	position: relative;
	top: 50%;
	transform: translateY(-50%);

	@include mq('md') {
		width: rem(133);
	}
}

.header__drawer {

	@include mq('md') {
		display: none;
	}
}

.header__pc-nav {
	height: inherit;
	display: none;

	@include mq('md') {
		display: block;
	}
}

.header__sp-nav {
	padding-bottom: $padding-sp;

	width: 100vw;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background-color: $color-accent;
	z-index: $z-index-sp-nav;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;

	transform: translateX(-105%);
	transition: transform 0.5s ease, opacity 0.5s ease;

}

.header__sp-nav.is-active {
	transform: translateX(0);
	opacity: 1;
}