@use "global" as *;

.info {
	padding-top: rem(84);
	padding-bottom: rem(83);
	background-color: $color-lightgreen;

	@include mq('md') {
		padding-top: rem(100);
		padding-bottom: rem(99);
	}
}

.info__inner {}

.info__title {}

.info__wrap {
	margin-top: rem(27);
	max-width: rem(345);
	margin-left: auto;
	margin-right: auto;

	@include mq('md') {
		margin-top: rem(38);
		display: flex;
		column-gap: rem(48);
		max-width: initial;
		margin-left: initial;
		margin-right: initial;
	}
}

.info__img {
	aspect-ratio: 345 / 227;
	width: 100%;

	@include mq('md') {
		aspect-ratio: 540 / 356;
		width: 50%;
	}
}

.info__img img {

	object-fit: cover;
	width: 100%;
	height: 100%;

}

.info__body {
	margin-top: rem(25);

	@include mq('md') {
		margin-top: rem(52);
		width: calc(50% - rem(48));
	}
}

.info__title {
	padding-bottom: rem(4);

	@include mq('md') {
		padding-bottom: rem(8);
	}
}

.info__title-text {
	margin-top: rem(8);
	font-family: $font-family-jp-sans;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: calc(24 / 20);
	color: $color-text;

	@include mq('md') {
		font-size: rem(24);
		line-height: 1;
	}
}

.info__text {
	margin-top: rem(7);
}

.info__text-text {}

.info__btn {
	margin-top: rem(40);
	text-align: center;
}