@use "global" as *;

.layout-contact {
	margin-top: rem(80);

	@include mq('md') {
		margin-top: rem(137);
	}
}

.layout-contact--sub-campaign {
	margin-top: rem(104);
}

.layout-contact--sub-about {
	margin-top: rem(107);
}

.layout-contact--sub-voice {
	margin-top: rem(106);
}