@use "global" as *;

.layout-sub-contact {
	margin-top: rem(106);
}

.layout-sub-contact--sub-price {
	margin-top: rem(137);
}

.layout-sub-contact.layout-sub-contact--terms-of-service {
	margin-top: rem(136);
}