@use "global" as *;

.mv {
	position: relative;
	height: 100vh;
}

.mv__inner {
	height: inherit;
}

.mv__content {
	height: inherit;
}

.mv__images {
	height: inherit;
}

.mv__swiper {
	height: inherit;
}

.mv__swiper-wrapper {
	height: inherit;
}

.mv__swiper-img {
	height: inherit;
}

.mv__swiper-img picture {
	height: inherit;
}

.mv__swiper-img source {
	height: inherit;
}

.mv__swiper-img picture img {
	height: inherit;
	object-fit: cover;

}