@use "global" as *;

.pc-nav {}

.pc-nav__items {
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;

	@include mq('md') {
		// column-gap: rem(16);
	}

}

.pc-nav__item {
	height: inherit;
}

.pc-nav__item a {
	display: flex;
	align-items: center;
	height: inherit;

	position: relative;

	@include mq('md') {
		padding: 0 min(rem(20), rem(20) + (100vw - rem(1440)) * 0.015);
	}
}

.pc-nav__item a:hover {
	opacity: 1;
}

.pc-nav__item a::after {
	position: absolute;
	bottom: rem(20);
	left: 50%;
	content: "";
	width: calc(100% - rem(25));
	height: 1px;
	background-color: $color-white;
	transform: translateX(-50%) scale(0, 1);
	transform-origin: center top;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1, 1);
		background-color: red;
	}
}

.pc-nav__item a:hover::after {
	transform: translateX(-50%) scale(1, 1);
}

.pc-nav__title {
	text-align: center;
}

.pc-nav__eng {
	font-family: $font-family-eng;
	font-size: rem(18);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-white;
}

.pc-nav__ja {
	margin-top: rem(4);
	font-family: $font-family-jp-sans;
	font-size: rem(10);
	font-weight: $font-weight-regular;
	letter-spacing: 0em;
	line-height: calc(15 / 10);
	color: $color-white;
}