@use "global" as *;

.price {
	padding-top: rem(84);
	padding-bottom: rem(82);
	background-color: $color-lightgreen;

	@include mq('md') {
		padding-top: rem(100);
		padding-bottom: rem(103);
		position: relative;
	}
}

.price::before {
	@include mq('md') {
		position: absolute;
		content: "";
		bottom: rem(60);
		left: max(rem(20), calc(50vw - rem(620)));
		width: rem(437);
		height: rem(201);
		background-image: url('../images/common/img-fish.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.price__inner {}

.price__title {}

.price__wrap {
	margin-top: rem(31);
	max-width: rem(345);
	margin-left: auto;
	margin-right: auto;

	@include mq('md') {
		margin-top: rem(45);
		max-width: initial;
		margin-left: initial;
		margin-right: initial;

		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: rem(93);
	}
}

.price__img {
	aspect-ratio: 345 / 227;

	@include mq('md') {
		aspect-ratio: 726 / 492;
		width: 68.7%;
		height: auto;
	}
}

.price__img picture {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.price__img picture source,
.price__img picture img {
	width: 100%;
	height: auto;
}

.price__items {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: 0;
		width: 68.6%;
	}
}

.price__item {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: 0;
	}
}

.price__item:not(:first-child) {
	@include mq('md') {
		margin-top: rem(39);
	}
}

.price__term {
	padding-bottom: rem(4);
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: calc(24 / 16);
	color: $color-text;

	@include mq('md') {
		padding-bottom: rem(5);
	}
}

.price__description {
	margin-top: rem(8);

	display: flex;
	justify-content: space-between;
}

.price__heading,
.price__price {

	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(24 / 14);
	color: $color-text;

	@include mq('md') {
		font-size: rem(16);
		line-height: calc(24 / 16);
	}
}

.price__heading {}

.price__price {}

.price__btn {
	margin-top: rem(40);
	text-align: center;

	@include mq('md') {
		margin-top: rem(77);
	}
}