@use "global" as *;

.sp-nav {}

.sp-nav__logoBlock {
	padding-left: rem(15);
}

.sp-nav__logoBlock a {
	display: inline-block;
}

.sp-nav__logo {
	width: rem(102);

	@include mq('md') {
		width: rem(133);
	}
}

.sp-nav__inner {
	padding-left: rem(15);
	padding-right: rem(11);

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.sp-nav__wrap {
	margin-top: max(rem(32), calc(rem(32) + (100vh - rem(667)) * 0.5));
	width: 100%;
	max-width: rem(400);
	margin-left: auto;
	margin-right: auto;

	@include mq('md') {
		display: block;
	}
}

.sp-nav__menu-items {
	display: flex;
	justify-content: space-between;
	column-gap: min((7 / 375)*100vw, rem(40));
}

.sp-nav__menu-items-wrap:nth-child(2) {
	padding-right: rem(26);
}

.sp-nav__menu-item {}