@use "global" as *;

.nav {
	// 	width: 100vw;
	// 	height: 100vh;
	// 	position: fixed;
	// 	right: 0;
	// 	top: 0;
	// 	background-color: $color-accent;
	// 	z-index: $z-index-sp-nav;
	// 	overflow-x: hidden;
	// 	overflow-y: auto;
	// 	opacity: 0;

	// 	transform: translateX(-105%);
	// 	transition: transform 0.5s ease, opacity 0.5s ease;

}

.nav__logoBlock {
	margin-top: rem(21);
	margin-left: rem(15);
}

.nav__logo {}

.nav__inner {
	padding-left: rem(15);
	padding-right: rem(15);

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav__wrap {
	margin-top: max(rem(37), calc(rem(37) + (100vh - rem(667)) * 0.5));
	// display: flex;
	// align-items: center;
	// justify-content: space-around;

	@include mq('md') {
		display: block;
	}
}

.nav__head {}

.nav__logoBlock {}

.nav__logoLink {}

.nav__logo {
	width: rem(102);

	@include mq('md') {
		width: rem(133);
	}
}

.nav__body {}

.nav__menu-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;

	row-gap: rem(24);
	column-gap: min(calc(rem(1) + (100vw - rem(375)) * 0.5), rem(40));
	grid-auto-flow: column;

	// grid-auto-flow: dense;
	@include mq('md') {
		display: flex;
		column-gap: rem(120);
		// column-gap: min(calc(rem(120) - (rem(1440) - 100vw) * 0.5), rem(120));
		// column-gap: min(calc(rem(4) + (100vw - rem(375)) * 0.5), rem(40));
		// column-gap: min(calc(rem(120) - (100vw - rem(1440)) * 0.5), rem(120));

	}
}

.nav__menu-item {}