@use "global" as *;

.voice {}

.voice__inner {
	position: relative;
}

.voice__inner::before {
	@include mq('md') {
		position: absolute;
		content: "";
		top: rem(-121);
		left: calc(50% - min(48.5vw, rem(620)));
		width: rem(301);
		height: rem(138);
		background-image: url('../images/common/img-fish.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		transform: scaleX(-1);
	}
}

.voice__inner::after {
	@include mq('md') {
		position: absolute;
		content: "";
		bottom: rem(-69);
		right: calc(50% - min(48.5vw, rem(540)));
		width: rem(71);
		height: rem(162);
		background-image: url('../images/common/img-seahorse.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.voice__title {}

.voice__cards {
	margin-top: rem(47);

	@include mq('md') {
		margin-top: rem(30);
	}
}

.voice__card {

	@include mq('md') {
		flex-basis: calc((100% - 40px) / 2);
	}
}

.voice__btn {
	margin-top: rem(40);
	text-align: center;

	@include mq('md') {
		margin-top: rem(80);
	}
}