@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

// 計算用（pxではなく数値）
$calc-inner-sp: calc(375 - 15 * 2);
$calc-inner-pc: calc(1440 - 40 * 2);

////////////////////
// フォント設定
////////////////////

$font-family-eng: 'Gotu', sans-serif;
$font-family-jp-sans: 'Noto Sans JP', sans-serif;
$font-family-lato: 'Lato', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-family-jp-sans;
  position: relative;
}

// フォントウェイト
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$color-black: #0D2936;
$color-white: #fff;

$color-accent: #408F95;
$color-brown: #796A64;

$color-gray: #000;
$color-lightgreen: #DDF0F1;
$color-text: $color-black;


////////////////////
// z-index
////////////////////
$z-index-heroTitle: 10;
$z-index-toTop: 100;
$z-index-header: 1000;
$z-index-sp-nav: 8888;
$z-index-logo: 9999;
$z-index-hamburger: 10000;
$z-index-modal: 11111;
$z-index-loading: 20000;

////////////////////
// opacity
////////////////////
$opacity-hover: 0.7;