@use "global" as *;

.about {}

.about__inner {
	@include mq('md') {
		position: relative;
	}
}

.about__inner::after {
	@include mq('md') {
		position: absolute;
		content: "";
		bottom: rem(-90);
		right: calc(50% - min(48.5vw, 40rem));
		width: rem(194);
		height: rem(181);
		background-image: url('../images/common/img-coral.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.about__section-title {}

.about__images {
	margin-top: rem(31);

	@include mq('md') {
		margin-top: rem(45);
	}
}

.about__image-small {
	position: relative;
	width: calc(128 / $calc-inner-sp * 100%);
}

.about__image-small img {

	aspect-ratio: 128 / 194;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 400 / 606;
	}
}

.about__image-large {
	margin-top: -48.8%;
	margin-left: auto;
	width: calc(281 / $calc-inner-sp * 100%);
}

.about__image-large img {

	aspect-ratio: 281 / 186;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 880 / 581;
	}
}

.about__content {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: 0;
		position: absolute;
		display: flex;

		width: 72.18%;
		top: 40%;
		left: 19.8%;
	}
}

.about__subtitle {
	width: 100%;

	@include mq('md') {
		width: 50%;
	}
}

.about__subtitle-text {
	font-family: $font-family-eng;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		font-size: rem(80);
		color: $color-white;
		line-height: calc(100 / 80);
	}
}

.about__body {
	margin-top: rem(16);

	@include mq('md') {
		margin-top: 0;
		margin-left: rem(41);
		width: 50%;
	}
}

.about__text-wrap {}

.about__text {
	@include mq('md') {
		color: $color-white;
		text-align: justify;
	}
}

.about__btn {
	margin-top: rem(50);
	text-align: center;

	@include mq('md') {
		margin-top: rem(40);
	}
}

// 下層ページ
.about__image-small--sub-page {
	display: none;

	@include mq('md') {
		display: block;
	}
}

.about__image-large--sub-page {
	margin-top: 0;
	margin-left: 0;
	width: 100%;


	@include mq('md') {
		margin-top: -48.8%;
		margin-left: auto;
		width: calc(281 / $calc-inner-sp * 100%);
	}
}

.about__content--sub-page {
	@include mq('md') {
		top: 30.6%;
	}
}

.about__subtitle--sub-page {
	position: absolute;
	top: 5.4%;
	left: calc(50% - min(39.6vw, rem(256)));

	@include mq('md') {
		position: initial;
		top: 0;
		left: 0;
	}
}

.about__subtitle-text--sub-page {
	color: $color-white;
}

.about__body--sub-page {
	@include mq('md') {
		margin-top: rem(24);
	}
}