@use "global" as *;

.aside {}

.aside__content {}

.aside__content:not(:first-child) {
	margin-top: rem(80);
}

.aside__title {
	display: flex;
	align-items: center;
}

.aside__title::before {
	content: "";
	width: rem(8);
	height: rem(50);
	display: inline-block;
	background-color: $color-accent;
	order: -1;
}

.aside__title::after {
	margin-left: rem(16);
	content: "";
	width: rem(50);
	height: rem(50);
	display: inline-block;
	background-image: url('../images/sub/img-whale_black.png');
	background-repeat: no-repeat;
	background-size: contain;
	order: -1;
}

.aside__title h2 {
	margin-left: rem(8);
	font-family: $font-family-jp-sans;
	font-size: rem(24);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(1 / 1);
	color: $color-text;
}

.aside__voice {
	margin-top: rem(24);
}

.aside__voice-img {
	aspect-ratio: 294 / 218;
}

.aside__voice-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.aside__voice-age {
	margin-top: rem(16);
}

.aside__voice-age-text {
	font-family: $font-family-jp-sans;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(18 / 12);
	color: $color-text;
}

.aside__voice-title {
	margin-top: rem(8);
}

.aside__voice-title-text {
	font-family: $font-family-jp-sans;
	font-size: rem(24);
	font-weight: $font-weight-medium;
	letter-spacing: 0;
	color: $color-text;
}

.aside__blog-cards {
	margin-top: rem(24);
}

.aside__blog-card {}

.aside__blog-card:not(:first-child) {
	margin-top: rem(24);
}

.aside__voice-card {}

.aside__btn {
	margin-top: rem(40);
	text-align: center;
}

.aside__campaign-cards {
	margin-top: rem(24);
}

.aside__campaign-card {}

.aside__blog-archive {
	margin-top: rem(26);
}