@use "global" as *;

.blog-card {
	padding: rem(16) rem(16) rem(24);
	background-color: $color-white;
	box-shadow: 2px 2px 10px rgba($color: #000, $alpha: 0.25);
}

.blog-card:not(:first-child) {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: 0;
	}
}

.blog-card__img {
	aspect-ratio: 301 / 201;
	width: 100%;
}

.blog-card__img img {

	object-fit: cover;
	width: 100%;
	height: 100%;

}

.blog-card__body {
	margin-top: rem(17);
}

.blog-card__body {}

.blog-card__date {
	// display: inline-block;
	font-family: $font-family-eng;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-text;
}


.blog-card__title {
	padding-bottom: rem(4);
	// position: relative;
}

// .blog-card__title p {
// 	font-family: $font-family-jp-sans;
// 	font-size: rem(16);
// 	font-weight: $font-weight-medium;
// 	letter-spacing: 0;
// 	line-height: calc(24 / 16);
// 	color: $color-text;
// }

.blog-card__title::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: $color-accent;
}

.blog-card__text {
	margin-top: rem(16);
}

.blog-card__text-text {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}