@use "global" as *;

.blog-cards {
	display: grid;
	row-gap: rem(40);
	grid-template-columns: 1fr;

	@include mq('md') {
		margin-top: rem(85);
		column-gap: rem(40);
		row-gap: rem(80);
		justify-content: space-between;
		grid-template-columns: repeat(3, 1fr);
	}
}

.blog-cards__card {}