@use "global" as *;

.blog-cards {
	display: grid;
	row-gap: rem(40);
	grid-template-columns: 1fr;

	@include mq('md') {
		column-gap: rem(40);
		row-gap: rem(80);
		justify-content: space-between;
		grid-template-columns: repeat(3, 1fr);
	}
}

.blog-cards__card {}

.blog-cards.blog-cards--sub-page {
	@include mq('md') {
		grid-template-columns: repeat(2, 1fr);
	}
}