@use "global" as *;

.blog-card {
	background-color: $color-white;
	box-shadow: 2px 2px 10px rgba($color: #000, $alpha: 0.25);
}

.blog-card__link {
	padding: rem(16) rem(16) rem(24);
	display: inline-block;
	transition: opacity 0.3s ease;
}

.blog-card__link:hover {
	opacity: 1;
}

.blog-card__link:hover .blog-card__img img {
	scale: 1.2;
}

.blog-card__img {
	overflow: hidden;
}

.blog-card__img img {
	aspect-ratio: 301 / 201;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: scale 0.3s;
}

.blog-card__body {
	margin-top: rem(17);
}

.blog-card__body {}

.blog-card__date {
	font-family: $font-family-eng;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-text;
}


.blog-card__title {
	padding-bottom: rem(4);
	margin-top: rem(1);
}

.blog-card__title-text {
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-medium;
	letter-spacing: 0;
	line-height: calc(24 / 16);
	color: $color-text;

	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.blog-card__text-wrap {
	margin-top: rem(16);
}

.blog-card__text {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}

.blog-card--aside .blog-card__link {
	padding: rem(16);
	display: grid;
	gap: rem(16);
	grid-template-columns: 1fr 1.03fr;
}

.blog-card--aside .blog-card__body {
	margin-top: rem(0);
}

.blog-card--aside .blog-card__img img {
	aspect-ratio: 121 / 90;
}