@use "global" as *;

.campaign-card {
	box-shadow: 2px 2px 10px rgb(0 0 0 / 0.25);
	width: rem(280);
	max-width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $color-white;

	@include mq('md') {
		width: rem(333);
	}
}

.campaign-card__img {}

.campaign-card__img img {
	aspect-ratio: 280 / 188;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 333 / 223;
	}
}

.campaign-card__body {
	padding: rem(16) rem(16) 0;

	@include mq('md') {
		padding: rem(24) rem(16) 0;
	}
}

.campaign-card__category {
	padding: rem(8) rem(11);
	display: inline-block;
	border: 1px solid $color-accent;


	@include mq('md') {
		padding: rem(10) rem(15);
	}
}

.campaign-card__category-text {
	font-family: $font-family-jp-sans;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;
}

.campaign-card__title {
	margin-top: rem(4);
	padding-bottom: rem(8);
	min-height: rem(32);

	@include mq('md') {
		padding-bottom: rem(8);
	}
}


.campaign-card__title-text {}

.campaign-card__foot {
	margin-top: auto;
	padding: 0 rem(16) rem(24);

	@include mq('md') {
		padding: 0 rem(16) rem(40);
	}

}

.campaign-card__offer {
	margin-top: rem(8);
	text-align: center;

	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(24 / 14);
	color: $color-text;

	@include mq('md') {
		margin-top: rem(16);
		padding-right: rem(16);
		font-size: rem(16);
		line-height: calc(24 / 16);
	}
}

.campaign-card__wrap {
	margin-top: rem(8);
	margin-left: rem(19);
	display: flex;
	align-items: baseline;
	gap: rem(18);

	@include mq('md') {
		margin-top: rem(8);
		margin-left: rem(19);
		gap: rem(26);
	}
}

.campaign-card__original-price {
	position: relative;

	@include mq('md') {
		font-size: rem(24);
	}
}

.campaign-card__original-price::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #C94800;
	transform: translateY(-50%);
}

.campaign-card__original-price-text {
	font-family: $font-family-lato;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1;
	color: $color-text;

	@include mq('md') {
		font-size: rem(24);
	}
}


.campaign-card__sale-price {}

.campaign-card__sale-price-text {
	font-family: $font-family-lato;
	font-size: rem(32);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		font-size: rem(40);
	}
}

.campaign-card__pc {
	margin-top: auto;
	padding: 0 rem(16) rem(24);

	@include mq('md') {
		margin-top: rem(24);
		padding: 0 rem(24) rem(43);
	}
}

.campaign-card__text {}

.campaign-card__pc-bottom {
	margin-top: rem(32);
	text-align: center;
	letter-spacing: 0;
	line-height: calc(18 / 16);
	color: $color-accent;
}

.campaign-card__date {
	font-size: rem(16);
	font-family: $font-family-lato;
	font-weight: $font-weight-bold;
}

.campaign-card__pretext {
	margin-top: rem(9);
	font-size: rem(14);
	font-family: $font-family-jp-sans;
	font-weight: $font-weight-regular;
}

.campaign-card__btn {
	margin-top: rem(16);
}

//下層ページ
.campaign-card--sub-page {
	@include mq('md') {
		width: rem(520);
	}
}

.campaign-card__body--sub-page {
	@include mq('md') {
		padding: rem(24) rem(24) 0;
	}
}

.campaign-card__title-text--sub-page {
	@include mq('md') {
		font-size: rem(24);
	}
}

.campaign-card__title--sub-page {

	@include mq('md') {
		padding-bottom: rem(2);
	}
}

.campaign-card__offer--sub-page {
	@include mq('md') {
		margin-top: rem(24);
	}
}

.campaign-card__wrap--sub-page {
	@include mq('md') {
		justify-content: center;

		margin-left: rem(0);
		gap: rem(40);
	}
}

.campaign-card__foot--sub-page {

	@include mq('md') {
		padding: 0 rem(24);
	}
}