@use "global" as *;

.campaign-cards {
	display: grid;
	grid-auto-flow: column;
}

.campaign-cards__card {
	max-width: rem(280);

	@include mq('md') {
		max-width: rem(333);
	}
}

.campaign-cards--sub-page {
	grid-auto-flow: initial;
	gap: rem(40);

	@include mq('md') {
		grid-template-columns: 1fr 1fr;
		gap: rem(80) rem(40);
	}
}

.campaign-cards.campaign-cards--sub-home {
	grid-auto-flow: row;
	gap: rem(40);

	@include mq('md') {
		grid-template-columns: 1fr;
	}
}