@use "global" as *;

.card {
	box-shadow: 2px 2px 10px rgb(0 0 0 / 0.25);
	width: rem(280);
	max-width: 100%;

	@include mq('md') {
		width: rem(333);
	}
}

.card__img {
	aspect-ratio: 280 / 188;

	@include mq('md') {
		aspect-ratio: 333 / 223;
	}
}

.card__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card__body {
	padding: rem(16) rem(16) rem(24);
	background-color: $color-white;

	@include mq('md') {
		padding: rem(24) rem(16) rem(40);
	}
}

.card__category {
	padding: rem(9) rem(12);
	display: inline-block;
	border: 1px solid $color-accent;

	font-family: $font-family-jp-sans;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		padding: rem(13) rem(14);
	}
}

.card__title {
	margin-top: rem(4);
	padding-bottom: rem(8);
	position: relative;

	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-medium;
	letter-spacing: 0;
	line-height: calc(24 / 16);
	color: $color-text;
}

.card__title::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: $color-accent;
}

.card__offer {
	margin-top: rem(8);
	text-align: center;

	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(24 / 14);
	color: $color-text;

	@include mq('md') {
		font-size: rem(16);
		line-height: calc(24 / 16);
	}
}

.card__wrap {
	margin-top: rem(8);
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: rem(16);

	@include mq('md') {
		gap: rem(24);
	}
}

.card__original-price {
	position: relative;

	font-family: $font-family-lato;
	font-size: rem(20);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1;
	color: $color-text;

	@include mq('md') {
		font-size: rem(24);
	}
}

.card__original-price::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #C94800;
	transform: translateY(-50%);
}

.card__salet-price {
	font-family: $font-family-lato;
	font-size: rem(32);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		font-size: rem(40);
	}
}