@use "global" as *;

.category {}

.category__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: rem(16) rem(21);

	@include mq('sm') {
		display: flex;
		flex-wrap: wrap;
	}

	@include mq('md') {
		gap: rem(24) rem(32);
	}
}

.category__item {}

.category__text {
	padding: rem(5);
	display: inline-block;
	width: 100%;
	transition: background-color 0.3s, color 0.3s;
	background-color: $color-white;
	border: 1px solid $color-accent;
	text-align: center;
	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(22 / 14);
	color: $color-accent;

	@include mq('sm') {
		min-width: rem(162);
	}
}

.category__text:hover {
	background-color: $color-accent;
	color: $color-white;
	opacity: 1;
}

.category__text.active {
	background-color: $color-accent;
	color: $color-white;
}