@use "global" as *;

.contact-form {}

.contact-form__body {}

.contact-form__wrap {
	padding-top: rem(22);
	padding-bottom: rem(24);
	border-bottom: 1px dashed $color-accent;

	@include mq('md') {
		display: grid;
		grid-template-columns: 31.3% 68.7%;
		padding-top: rem(40);
		padding-bottom: rem(39);
	}
}

.contact-form__wrap:first-child {
	padding-top: 0;
}

.contact-form__label {
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	color: $color-text;
}

.contact-form__label span {
	margin-left: rem(8);
	padding: rem(5) rem(19);
	display: inline-block;
	background-color: $color-red;
	font-family: $font-family-jp-sans;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 40%;
	line-height: 1;
	color: $color-white;
}

.contact-form__input {
	margin-top: rem(16);

	@include mq('md') {
		margin-top: 0;
	}
}

.contact-form__footer {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: rem(80);
	}
}

.contact-form__privacy {
	display: flex;
	justify-content: center;
}

.contact-form__btn {
	margin-top: rem(24);
	display: flex;
	justify-content: center;

	@include mq('md') {
		margin-top: rem(40);
	}

}