@use "global" as *;

.hamburger {
	display: block;
	position: fixed;
	z-index: $z-index-hamburger;
	top: rem(28);
	right: rem(15);
	width: rem(32);
	height: rem(24);
	cursor: pointer;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.hamburger span {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: $color-white;
	transition: transform 0.3s ease, opacity 0.3s ease;

}

.hamburger span:first-child {
	top: 0;
}

.hamburger span:nth-child(2) {
	top: 11px;
}

.hamburger span:nth-child(3) {
	top: 23px;
}

.hamburger.is-active {
	top: rem(30);
	right: rem(12);
	width: rem(38);
}

.hamburger.is-active span:first-child {
	top: 10px;
	transform: rotate(-36deg);
	background-color: $color-white;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
	top: 10px;
	transform: rotate(36deg);
	background-color: $color-white;
}