@use "global" as *;


.heroTitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: $z-index-mvTitle;
	width: 100%;
}

.heroTitle__title {

	font-family: $font-family-lato;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0.54em;
	text-indent: 0.54em;
	line-height: 1;
	color: $color-white;
	text-align: center;

	@include mq('md') {
		font-size: rem(80);
	}
}

.heroTitle__subtitle {

	margin-top: rem(12);
	font-family: $font-family-eng;
	font-weight: $font-weight-regular;
	font-size: rem(20);
	letter-spacing: 0;
	line-height: 1;
	color: $color-white;
	text-align: center;

	@include mq('md') {
		margin-top: rem(16);
		font-size: rem(20);
	}
}