@use "global" as *;

.img-animation__wrap {
	// position: relative;
}

.img-animation-wrap {
	position: relative;
}

.img-animation__img {}

.img-animation__bg {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: right center;
	background-color: #408F95;
}


// テスト用
// .animation-test {
// 	position: relative;
// }

// .animation-box1,
// .animation-box2 {
// 	width: 100%;
// 	height: 200px;
// }

// .animation-box1 {
// 	background-color: red;
// }

// .animation-box2 {
// 	transform-origin: right center;
// 	background-color: blue;

// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }