@use "global" as *;

.img-animation__wrap {
	position: relative;
	height: auto;
}

.img-animation__img {
	opacity: 0;
	display: inline-block;
}

.img-animation__img.img-animation__img--pic {
	display: block;
	height: auto;
}

.img-animation__bg {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: right center;
	background-color: transparent;
	transform: scaleX(0);
}