@use "global" as *;

.loading {
	position: fixed;
	z-index: $z-index-loading;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: $color-accent;
}

.loading.is-none {
	opacity: 0;
	z-index: -1;
	visibility: hidden;
}

.loading__circle {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	content: "";
	animation: 1s linear loading infinite;
	border: 2px solid $color-white;
	border-top: 2px solid transparent;
	border-radius: 50%;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loading__wrap {
	width: inherit;
	height: inherit;
	position: relative;
}

.loading__left,
.loading__right {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/common/mv_sp_1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-clip: content-box;
	opacity: 0;

	@include mq('md') {
		background-image: url('../images/common/mv_pc_1.jpg');
	}
}

.loading__left {
	clip-path: polygon(0 0, calc(50% + 1px) 0, calc(50% + 1px) 100%, 0 100%);
}

.loading__right {
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.loading__header {}

.loading__title {
	opacity: 0;
}

.loading__subtitle {
	opacity: 0;
}