@use "global" as *;

.loading {
	position: fixed;
	z-index: $z-index-loading;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	background-color: $color-accent;
}

.loading__wrap {
	width: inherit;
	height: inherit;
	position: relative;
}

.loading__left,
.loading__right {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/common/mv_sp_1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-clip: content-box;
	opacity: 0;

	@include mq('md') {
		background-image: url('../images/common/mv_pc_1.jpg');
	}
}

.loading__left {
	clip-path: polygon(0 0, calc(50% + 1px) 0, calc(50% + 1px) 100%, 0 100%);
}

.loading__right {
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.loading__header {}

.loading__title {}

.loading__subtitle {}