@use "global" as *;

.menu {}

.menu__column {}

.menu__item {}

.menu__item:not(:first-child) {
	margin-top: rem(24);
}

.menu__title {}

.menu__title a {
	position: relative;
	padding-left: rem(22);
	display: block;
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: calc(18 / 16);
	color: $color-white;
	padding: 0.5em 0;
}

.menu__title a::before {
	content: "";
	position: absolute;
	left: 0px;
	top: rem(9);
	width: rem(18);
	height: rem(18);
	background-image: url('../images/common/icon_starfish.png');
	background-size: contain;

}

.menu__list {
	margin-top: rem(8);
	margin-left: rem(22);
}


.menu__list li:not(:first-child) {
	margin-top: rem(8);
}

.menu__list a {
	padding: 0.5em 0;
	display: block;
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(18 / 16);
	color: $color-white;
}