@use "global" as *;

.mv {
	position: relative;
	height: 100vh;
}

.mv__inner {
	height: inherit;
}

.mv__content {
	height: inherit;
}

.mv__images {
	height: inherit;
}

.mv__swiper {
	height: inherit;
}

.mv__swiper .swiper-wrapper {
	height: inherit;
}

.mv__swiper .swiper-slide {
	height: inherit;
}

.mv__swiper .swiper-slide picture {
	height: inherit;
}

.mv__swiper .swiper-slide source {
	height: inherit;
}

.mv__swiper .swiper-slide picture img {
	height: inherit;
	object-fit: cover;
}