@use "global" as *;

.page-thanks {}

.page-thanks__inner {}

.page-thanks__text {
	text-align: center;
	text-indent: - calc(18 / 16 * 1em);
}

.page-thanks__sub-text {
	margin-top: rem(36);
	text-align: center;
}