@use "global" as *;

.price-list {
	margin-top: rem(7);
	display: grid;
	grid-template-columns: 80% 20%;
	row-gap: rem(8);
}

.price-list dt {}

.price-list dd {
	text-align: right;
}

.price-list dt,
.price-list dd {

	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(24 / 14);
	color: $color-text;

	@include mq('md') {
		font-size: rem(16);
		line-height: calc(24 / 16);
	}
}