@use "global" as *;

.sub-mv {
	height: rem(460);
	background-repeat: no-repeat;

	background-size: cover;

	@include mq('md') {
		height: rem(548);
	}
}

.sub-mv.sub-mv--page-blog {
	background-image: url(../images/sub/sub-mv_blog_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_blog_pc.jpg);
	}
}

.sub-mv.sub-mv--page-contact {
	background-image: url(../images/sub/sub-mv_contact_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_contact_pc.jpg);
	}
}

.sub-mv__title {
	padding-top: rem(200);
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: $font-family-lato;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1.5;
	color: $color-white;

	@include mq('md') {
		padding-top: rem(265);
		font-size: rem(80);
	}
}