@use "global" as *;

.sub-mv {
	height: rem(460);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@include mq('md') {
		height: rem(548);
	}
}

.sub-mv.sub-mv--sub-campaign {
	background-image: url(../images/sub/sub-mv_campaign_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_campaign_pc.jpg);
	}
}

.sub-mv.sub-mv--page-sub-about {
	background-image: url(../images/sub/sub-mv_about_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_about_pc.jpg);
	}
}

.sub-mv.sub-mv--sub-blog {
	background-image: url(../images/sub/sub-mv_blog_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_blog_pc.jpg);
	}
}

.sub-mv.sub-mv--sub-voice {
	background-image: url(../images/sub/sub-mv_voice_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_voice_pc.jpg);
	}
}

.sub-mv.sub-mv--sub-price {
	background-image: url(../images/sub/sub-mv_price_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_price_pc.jpg);
	}
}

.sub-mv.sub-mv--sub-faq {
	background-image: url(../images/sub/sub-mv_faq_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_faq_pc.jpg);
	}
}

.sub-mv.sub-mv--site-map {
	background-image: url(../images/sub/sub-mv_site-map_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_site-map_pc.jpg);
	}
}

.sub-mv.sub-mv--page-contact {
	background-image: url(../images/sub/sub-mv_contact_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_contact_pc.jpg);
	}
}

.sub-mv.sub-mv--page-privacy {
	background-image: url(../images/sub/sub-mv_privacy_sp.jpg);

	@include mq('md') {
		background-image: url(../images/sub/sub-mv_privacy_pc.jpg);
	}
}

.sub-mv__title {
	padding-top: rem(200);
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: $font-family-lato;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1.5;
	color: $color-white;

	@include mq('md') {
		padding-top: rem(265);
		font-size: rem(80);
	}
}