@use "global" as *;

.sub-about {}

.sub-about::after {
	@include mq('md') {
		position: absolute;
		content: "";
		top: 106.2%;
		right: calc(50% - min(48.5vw, 40rem));
		width: rem(301);
		height: rem(138);
		background-image: url("../images/common/img-fish.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.sub-about__inner {
	@include mq('md') {
		position: relative;
	}
}

.sub-about__about {}