@use "global" as *;

.sub-about {}

.sub-about::after {
	@include mq('md') {
		position: absolute;
		content: "";
		top: 106.2%;
		right: calc(50% - min(48.5vw, 40rem));
		width: rem(301);
		height: rem(138);
		background-image: url("../images/common/img-fish.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}

.sub-about__inner {
	@include mq('md') {
		position: relative;
	}
}

.sub-about__images {
	margin-top: rem(31);

	@include mq('md') {
		margin-top: rem(45);
	}
}

.sub-about__image-small {
	position: relative;
	width: calc(128 / $calc-inner-sp * 100%);
	display: none;

	@include mq('md') {
		display: block;
	}
}

.sub-about__image-small img {
	aspect-ratio: 128 / 194;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 400 / 606;
	}
}

.sub-about__image-large {
	width: calc(281 / $calc-inner-sp * 100%);
	margin-top: 0;
	margin-left: 0;
	width: 100%;

	@include mq('md') {
		margin-top: -48.8%;
		margin-left: auto;
		width: calc(281 / $calc-inner-sp * 100%);
	}
}

.sub-about__image-large img {
	aspect-ratio: 281 / 186;
	object-fit: cover;
	width: 100%;
	height: 100%;

	@include mq('md') {
		aspect-ratio: 880 / 581;
	}
}

.sub-about__content {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: 0;
		position: absolute;
		display: flex;

		width: 72.18%;
		// top: 40%;
		top: 30.6%;
		left: 19.8%;
	}
}

.sub-about__subtitle {
	width: 100%;
	position: absolute;
	top: 5.4%;
	left: calc(50% - min(39.6vw, rem(256)));

	@include mq('md') {
		position: initial;
		top: 0;
		left: 0;
		width: 50%;
	}
}

.sub-about__subtitle-text {
	font-family: $font-family-eng;
	font-size: rem(40);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-white;

	@include mq('md') {
		font-size: rem(80);
		color: $color-white;
		line-height: calc(100 / 80);
	}
}

.sub-about__body {
	margin-top: rem(16);

	@include mq('md') {
		margin-top: rem(24);
		margin-left: rem(41);
		width: 50%;
	}
}

.sub-about__text-wrap {}

.sub-about__text {
	@include mq('md') {
		color: $color-white;
		text-align: justify;
	}
}

.sub-about__btn {
	margin-top: rem(50);
	text-align: center;

	@include mq('md') {
		margin-top: rem(40);
	}
}