@use "global" as *;

.sub-info {
	scroll-padding-top: rem(80);

	@include mq('md') {
		scroll-padding-top: rem(90);
	}
}

.sub-info__inner {}

.sub-info__content {
	margin-top: rem(0);

	@include mq('md') {
		margin-top: rem(0);
	}
}

.sub-info__tab {}