@use "global" as *;

.sub-campaign {}

.sub-campaign__inner {}

.sub-campaign__category {}

.sub-campaign__contents {
	padding-left: rem(32);
	padding-right: rem(32);

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.sub-campaign__cards {
	margin-top: rem(40);
}

.sub-campaign__wp-pagenavi {
	margin-top: rem(80);
}