@use "global" as *;

.sub-price {
	position: relative;
}

.sub-price::before {
	position: absolute;
	content: "";
	top: rem(-22);
	left: calc(50% - min(46.1vw, rem(286)));
	width: rem(120);
	height: rem(55);
	background-image: url('../images/common/img-fish.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	transform: scaleX(-1);

	@include mq('md') {
		top: rem(-69);
		left: calc(50% - min(48.5vw, rem(620)));
		width: rem(301);
		height: rem(138);
	}
}

.sub-price__inner.inner {
	@include mq('md') {
		max-width: rem(750);
	}
}

.sub-price__content {}

.sub-price__list {}

.sub-price__item {
	border: 1px solid $color-accent;

	@include mq('md') {
		display: flex;
	}
}

.sub-price__item:not(:first-child) {
	margin-top: rem(40);

	@include mq('md') {
		margin-top: rem(80);
	}
}

.sub-price__header {
	padding: rem(8);
	background-color: $color-accent;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;

	@include mq('md') {
		width: 28.6%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.sub-price__img {
	width: rem(24);
	height: auto;
	aspect-ratio: 22.88 / 20.42;

	@include mq('md') {
		margin-top: rem(12);
		width: rem(61);
		height: auto;
		aspect-ratio: 61 / 54.46;
	}
}

.sub-price__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.sub-price__heading {
	margin-left: rem(8);
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: calc(24 / 16);
	color: $color-white;
}

.sub-price__table {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-auto-rows: 1fr;

	@include mq('md') {
		grid-template-columns: 67.6% 32.4%;
		width: 71.4%;
		flex: 1;
	}
}

.sub-price__table dt,
.sub-price__table dd {
	padding: rem(5);
	display: flex;
	align-items: center;
	border-top: 1px solid $color-accent;
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(24 / 16);
	color: $color-text;

	@include mq('md') {
		padding: rem(17);
	}
}

.sub-price__table dt:first-of-type,
.sub-price__table dd:first-of-type {
	border-top: none;
}

.sub-price__table dt {
	justify-content: center;
	text-align: center;

	@include mq('md') {
		justify-content: flex-start;
		text-align: left;
	}
}

.sub-price__table dd {
	padding-right: rem(15);
	justify-content: flex-end;
	border-left: 1px solid $color-accent;
}