@use "global" as *;

.sub-campaign {
	position: relative;
}

.sub-campaign::before {
	position: absolute;
	content: "";
	top: rem(-22);
	left: calc(50% - min(46.1vw, rem(286)));
	width: rem(120);
	height: rem(55);
	background-image: url('../images/common/img-fish.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	transform: scaleX(-1);

	@include mq('md') {
		top: rem(-69);
		left: calc(50% - min(48.5vw, rem(620)));
		width: rem(301);
		height: rem(138);
	}
}

.sub-campaign__inner {}

.sub-campaign__contents {
	padding-left: rem(32);
	padding-right: rem(32);

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.sub-campaign__cards {
	margin-top: rem(40);
}

.sub-campaign__wp-pagenavi {
	margin-top: rem(80);
}