@use "global" as *;

.sub-blog {}

.sub-blog__inner {}

.sub-blog__container {
	@include mq('md') {
		display: grid;
		column-gap: rem(80);
		grid-template-columns: 2.4fr 1fr;
	}
}

.sub-blog__main {}

.sub-blog__cards {
	margin: auto;
	width: 96.525%;

	@include mq('md') {
		width: 100%;
	}
}

.sub-blog__wp-pagenavi {
	margin-top: rem(80);
}

.sub-blog__pagenavi {
	margin-top: rem(40);
	display: flex;
	justify-content: center;
	gap: rem(82);

	@include mq('md') {
		margin-top: rem(80);
	}
}

.sub-blog__pagenavi-prev,
.sub-blog__pagenavi-next {
	position: relative;
	display: inline-block;
	color: $color-accent;
	background-color: $color-white;
	padding: rem(5) rem(4);
	width: rem(38);
	height: rem(38);
	white-space: nowrap;
	transition: color 0.3s, background-color 0.3s;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
	border: 1px solid $color-accent;
}

.sub-blog__pagenavi-prev:hover,
.sub-blog__pagenavi-next:hover {
	opacity: 1;
	color: $color-white;
	background-color: $color-accent;
}

.sub-blog__pagenavi-prev::after,
.sub-blog__pagenavi-next::after {
	position: absolute;
	content: "";
	width: rem(11);
	height: rem(11);
	transition: border-color 0.3s;
	border-top: 1px solid $color-accent;
	border-right: 1px solid $color-accent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.sub-blog__pagenavi-prev:hover::after,
.sub-blog__pagenavi-next:hover::after {
	border-top: 1px solid $color-white;
	border-right: 1px solid $color-white;
}

.sub-blog__pagenavi-prev:after {
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%) rotate(-135deg);
}

.sub-blog__pagenavi-next::after {
	top: 50%;
	left: 42%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.sub-blog__pagenavi-prev {}

.sub-blog__pagenavi-next {}

.sub-blog__aside {
	margin-top: rem(80);
	padding-left: rem(25);
	padding-right: rem(25);

	@include mq('md') {
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

//ブログ詳細
.sub-blog__main.sub-blog__main--post {
	padding-left: 0;
	padding-right: 0;

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.sub-blog__post {}

.sub-blog__meta {}

.sub-blog__time {
	font-family: $font-family-eng;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-text;
	vertical-align: super;
}

.sub-blog__title {
	margin-top: rem(4);
	padding-bottom: rem(3);
	position: relative;
	font-family: $font-family-jp-sans;
	font-size: rem(24);
	font-weight: $font-weight-medium;
	letter-spacing: 0;
	color: $color-text;

	@include mq('md') {
		margin-top: rem(2);
		padding-bottom: 0;
		font-size: rem(32);
	}
}

.sub-blog__title::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: $color-accent;
}

.sub-blog__thumbnail {
	margin-top: rem(24);
	aspect-ratio: 345 / 231;

	@include mq('md') {
		margin-top: rem(40);
		aspect-ratio: 700 / 468;
	}
}

.sub-blog__thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.sub-blog__content {
	img {
		margin-top: rem(24);

		@include mq('md') {
			margin-top: rem(40);
		}
	}

	p {
		margin-top: rem(24);
		font-family: $font-family-jp-sans;
		font-size: rem(16);
		font-weight: $font-weight-regular;
		letter-spacing: 0;
		line-height: calc(24 / 16);
		color: $color-text;

		@include mq('md') {
			margin-top: rem(40);
		}
	}

	ul {
		margin-top: rem(24);

		@include mq('md') {
			margin-top: rem(40);
		}

		li {
			padding-left: rem(27);
			background-image: url('../images/common/icon_starfish_green.svg');
			background-position: top 0.2em left;
			background-repeat: no-repeat;
			background-size: rem(18) rem(18);
			font-family: $font-family-jp-sans;
			font-size: rem(16);
			font-weight: $font-weight-regular;
			letter-spacing: 0;
			line-height: calc(24 / 16);
			color: $color-text;
		}

		li:not(:first-child) {
			margin-top: rem(4);
		}
	}
}