@use "global" as *;

.sub-contact {}

.sub-contact__inner.inner {
	@include mq('md') {
		max-width: rem(750);
	}
}

.sub-contact__error {
	margin-bottom: rem(39);
	padding-left: 1em;
	display: flex;
	justify-content: center;
	display: none;

	@include mq('md') {
		padding-left: 0;
	}
}

.sub-contact__error p {
	text-align: left;
	text-indent: -1em;
	font-family: $font-family-jp-sans;
	font-size: rem(14);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	color: $color-red;

	@include mq('md') {
		text-indent: 0;
		text-align: center;
	}
}

.sub-contact__content {}