@use "global" as *;

.voice-cards {
	max-width: rem(345);
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	row-gap: rem(40);

	@include mq('md') {
		margin-top: rem(35);
		max-width: initial;
		margin-left: initial;
		margin-right: initial;

		flex-direction: row;
		row-gap: rem(80);
		column-gap: rem(40);
	}
}