@use "global" as *;

.voice-card {
	padding: rem(15) rem(16) rem(24);
	box-shadow: 2px 2px 10px rgba($color: #000, $alpha: 0.25);
	width: 100%;
	max-width: rem(345);

	@include mq('md') {
		padding: rem(24);
		// width: rem(520);
		max-width: rem(520);
		// max-width: 100%;
	}
}

.voice-card__head {
	display: flex;
	// column-gap: rem(13);
	justify-content: space-between;
	align-items: flex-end;
}

.voice-card__left {
	// width: calc(100% - rem(13) - rem(151));
	width: calc(149 / 313 * 100%);

	@include mq('md') {
		width: calc(100% - rem(16) - rem(180));
	}
}

.voice-card__meta {
	@include mq('md') {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.voice-card__age {}

.voice-card__age-text {
	font-family: $font-family-jp-sans;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: calc(18 / 12);
	color: $color-text;
}

.voice-card__category {
	display: inline-block;
	border: 1px solid $color-accent;
	padding: rem(8) rem(12);

	@include mq('md') {
		padding: rem(4) rem(16);
	}
}

.voice-card__category-text {
	font-family: $font-family-jp-sans;
	font-size: rem(12);
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1;
	color: $color-accent;

	@include mq('md') {
		line-height: calc(22 / 12);
	}
}

.voice-card__title {
	margin-top: rem(4);
	position: relative;
	// height: 100%;

	@include mq('md') {
		margin-top: rem(8);
	}
}

.voice-card__title::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: $color-accent;
}

.voice-card__title-text {
	font-family: $font-family-jp-sans;
	font-size: rem(16);
	font-weight: $font-weight-medium;
	letter-spacing: 0;
	line-height: calc(24 / 16);
	color: $color-text;

	@include mq('md') {
		font-size: rem(24);
		line-height: 1.5;
	}
}

.voice-card__right {
	// margin-left: rem(13);
	// width: calc(151 / 313 * 100%);
	width: calc(151 / 313 * 100%);
	// height: rem(117);

	@include mq('md') {
		// margin-left: rem(16);
	}
}

.voice-card__img {
	aspect-ratio: 151 / 117;
	// width: 100%;
	height: 100%;
	width: auto;

	@include mq('md') {
		aspect-ratio: 180 / 140;
	}

}

.voice-card__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.voice-card__body {
	margin-top: rem(15);
}

.voice-card__text {}

.voice-card__text-text {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
}