@use "global" as *;

.wp-pagenavi {
	text-align: center;
}

.wp-pagenavi__inner {
	margin: auto;
	width: 100%;
	max-width: rem(345);
	display: flex;

	@include mq('md') {
		max-width: rem(444);
	}
}

.wp-pagenavi a,
.wp-pagenavi span {
	margin: 0 rem(6);
	display: inline-block;
	color: $color-accent;
	background-color: $color-white;
	padding: rem(5) rem(4);
	width: rem(38);
	height: rem(38);
	white-space: nowrap;
	transition: color 0.3s, background-color 0.3s;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
	border: 1px solid $color-accent;
}

.wp-pagenavi a:hover {
	opacity: 1;
	color: $color-white;
	background-color: $color-accent;
}

.wp-pagenavi span.current {
	color: $color-white;
	background-color: $color-accent;
}

.wp-pagenavi .previouspostslink {
	margin-left: 0;
	margin-right: auto;
}

.wp-pagenavi .nextpostslink {
	margin-left: auto;
	margin-right: 0;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
	position: relative;
}

.wp-pagenavi .previouspostslink::after,
.wp-pagenavi .nextpostslink::after {
	position: absolute;
	content: "";
	width: rem(11);
	height: rem(11);
	transition: border-color 0.3s;
	border-top: 1px solid $color-accent;
	border-right: 1px solid $color-accent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.wp-pagenavi .previouspostslink:hover::after,
.wp-pagenavi .nextpostslink:hover::after {
	border-top: 1px solid $color-white;
	border-right: 1px solid $color-white;
}

.wp-pagenavi .previouspostslink::after {
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%) rotate(-135deg);
}

.wp-pagenavi .nextpostslink::after {
	top: 50%;
	left: 42%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.wp-pagenavi .page:nth-of-type(n+5) {
	display: none;

	@include mq('md') {
		display: inline-block;
	}
}